choix==0.3.5
gurobipy==11.0.3
matplotlib==3.10.3
namedlist==1.8
networkx==3.3
numpy==2.2.5
pandas==2.2.3
pingouin==0.5.5
pref_voting==1.16.0
preflibtools==2.0.32
prefsampling==0.1.24
ranky==0.3.5
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
simanneal==0.5.0
six==1.16.0
statsmodels==0.14.4
tensorflow==2.18.0
tensorflow_probability==0.25.0
torch==2.4.1
tqdm==4.66.5
